.my-header {
  height: 90px;
  background-color: #0A121E;
}


.my-but {
    background-color: #FF342B !important;
    border-radius: 4px !important;
    width: 88px;
    height: 44px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}


.space-img {
    max-width: 457px;
    max-height: 457px;
}


.footer {
    background-color: #3C3C3C;

}

.for-img {
    width: 720px !important;
    height: 420px !important;
}

.slider-for {
    width: 720px !important;
    height: 420px !important;
}


.slider-nav img {
    display: block;
    width: 240px;
    margin-right: 20px;

}
